@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @custom-variant dark (&:is(.dark *)); */

/*  start Shadcn UI css mặc định */
/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* :root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
} */

/* end Shadcn UI css mặc định */

/* start mapping style từ DaisyUI -> Shadcn UI */
/* @theme inline {
  --radius-sm: calc(var(--radius-box) - 4px);
  --radius-md: calc(var(--radius-box) - 2px);
  --radius-lg: calc(var(--radius-box) - 0px);
  --radius-xl: calc(var(--radius-box) + 4px);
  --color-background: var(--color-base-100);
  --color-foreground: var(--color-base-content);
  --color-card: var(--color-base-100);
  --color-card-foreground: var(--color-base-content);
  --color-popover: var(--color-base-100);
  --color-popover-foreground: var(--color-base-content);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-content);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-content);
  --color-muted: var(--color-base-300);
  --color-muted-foreground: color-mix(in oklch, var(--color-base-content) 60%, transparent);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-content);
  --color-destructive: var(--color-error);
  --color-destructive-foreground: var(--color-error-content);
  --color-border: var(--color-base-content);
  --color-input: var(--color-base-content);
  --color-ring: var(--color-base-content);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --color-sidebar: color-mix(in oklch, var(--color-base-200) 20%, transparent);
  --color-sidebar-foreground: var(--color-base-content);
  --color-sidebar-primary: var(--color-primary);
  --color-sidebar-primary-foreground: var(--color-primary-content);
  --color-sidebar-accent: var(--color-accent);
  --color-sidebar-accent-foreground: var(--color-accent-content);
  --color-sidebar-border: var(--color-border);
  --color-sidebar-ring: var(--color-ring);
}
@layer base {
  * {
    @apply border-border outline-ring;
    .border-border {
      border: 5px solid #ee0202;
    }
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
} */

/* end mapping style từ DaisyUI -> Shadcn UI */

/* Dưới này là thuần style của DaisyUI */

/* @plugin "daisyui";

@plugin "daisyui/theme" {
  name: "aaaaaa";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(98% 0.016 73.684);
  --color-base-200: oklch(95% 0.038 75.164);
  --color-base-300: oklch(90% 0.076 70.697);
  --color-base-content: oklch(40% 0.123 38.172);
  --color-primary: oklch(0.6029 0.2099 31.62);
  --color-primary-content: oklch(93% 0.032 17.717);
  --color-secondary: oklch(22.45% 0.075 37.85);
  --color-secondary-content: oklch(90% 0.076 70.697);
  --color-accent: oklch(46.44% 0.111 37.85);
  --color-accent-content: oklch(90% 0.076 70.697);
  --color-neutral: oklch(55% 0.195 38.402);
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: oklch(42% 0.199 265.638);
  --color-info-content: oklch(90% 0.076 70.697);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(90% 0.076 70.697);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
} */

:root {
  --background: oklch(0.951 0.0383 76.1978);
  --foreground: oklch(0.4009 0.1232 38.3195);
  --card: oklch(0.9796 0.0158 73.6841);
  --card-foreground: oklch(0.4009 0.1232 38.3195);
  --popover: oklch(0.9796 0.0158 73.6841);
  --popover-foreground: oklch(0.4009 0.1232 38.3195);
  --primary: oklch(0.628 0.2577 29.2339);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2245 0.075 37.85);
  --secondary-foreground: oklch(0.9 0.076 70.697);
  --muted: oklch(0.9796 0.0158 73.6841);
  --muted-foreground: oklch(0.41 0.112 45.904);
  --accent: oklch(0.4644 0.111 37.85);
  --accent-foreground: oklch(0.9 0.076 70.697);
  --destructive: oklch(0.7 0.191 22.216);
  --destructive-foreground: oklch(0.39 0.141 25.723);
  --border: oklch(0.4 0.123 38.172);
  --input: oklch(0.9796 0.0158 73.6841);
  --ring: oklch(0.4 0.123 38.172);
  --chart-1: oklch(0.6746 0.1414 261.338);
  --chart-2: oklch(0.7303 0.1944 147.4439);
  --chart-3: oklch(0.8955 0.1322 95.6535);
  --chart-4: oklch(0.6746 0.1414 261.338);
  --chart-5: oklch(0.7303 0.1944 147.4439);
  --sidebar: oklch(0.9796 0.0158 73.6841);
  --sidebar-foreground: oklch(0.4 0.123 38.172);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(0.42 0.199 265.638);
  --sidebar-accent: oklch(0.4644 0.111 37.85);
  --sidebar-accent-foreground: oklch(0.9 0.076 70.697);
  --sidebar-border: oklch(0.4 0.123 38.172);
  --sidebar-ring: oklch(0.4 0.123 38.172);
  --font-sans: Outfit, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 16px;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.5);
}

.dark {
  --background: oklch(0.3178 0.044 45.4856);
  --foreground: oklch(1 0 0);
  --card: oklch(0.5309 0.0697 95.9678);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.5309 0.0697 95.9678);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2422 0.0426 56.271);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3178 0.044 45.4856);
  --muted-foreground: oklch(1 0 0);
  --accent: oklch(0.5309 0.0697 95.9678);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.652 0.234 26.6909);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3178 0.044 45.4856);
  --input: oklch(0.5309 0.0697 95.9678);
  --ring: oklch(0.5309 0.0697 95.9678);
  --chart-1: oklch(0.505 0.2122 262.8917);
  --chart-2: oklch(0.7115 0.131 174.1956);
  --chart-3: oklch(0.8422 0.1255 83.8529);
  --chart-4: oklch(0.505 0.2122 262.8917);
  --chart-5: oklch(0.7115 0.131 174.1956);
  --sidebar: oklch(0.3178 0.044 45.4856);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5309 0.0697 95.9678);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.3178 0.044 45.4856);
  --sidebar-ring: oklch(0.5309 0.0697 95.9678);
  --font-sans: Outfit, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 8px;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
