/* Experience Text Component Styles */
.experience-text {
  flex: 1;
  padding-right: 50px;
}

.open-sans-1000 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.experience-title {
  margin-bottom: 30px;
  background: linear-gradient(to right, #946b38, #392819);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 1000;
  font-size: 3rem;
  font-family: Open Sans;
}

.experience-description {
  margin-bottom: 30px;
  color: var(--color-base-content);
  font-size: 1.2rem;
  line-height: 1.6;
}
/* Media Queries */
@media (max-width: 992px) {
  .experience-text {
    padding-right: 0;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .experience-title {
    font-size: 2.5rem;
  }
}
